GEM_TARGETS = Base Controls Geos Manips Nongeos Particles Pixes openGL
EXT = pd_darwin

CXX ?= g++
CXXFLAGS ?= -g -O2 -arch i386 -isysroot /Developer/SDKs/MacOSX10.5.sdk -freg-struct-return -Os -falign-loops=32 -falign-functions=32 -falign-jumps=32 -funroll-loops -ffast-math -mmmx -fpascal-strings
LDFLAGS  ?= -arch i386 -dynamiclib -mmacosx-version-min=10.4 -isysroot /Developer/SDKs/MacOSX10.5.sdk -undefined dynamic_lookup -framework QuickTime -framework Carbon -framework AGL -framework OpenGL 
LIBS     ?= -lstdc++ -ldl -lz -lm   -lpthread -L/Applications/Pd-0.42-5.app/Contents/Resources//bin

GEM_CXXFLAGS= $(CXXFLAGS)   -I..  -I/Applications/Pd-0.42-5.app/Contents/Resources//src -arch i386 -isysroot /Developer/SDKs/MacOSX10.5.sdk
GEM_LDFLAGS = $(LDFLAGS) -arch i386 -isysroot /Developer/SDKs/MacOSX10.5.sdk 
GEM_LIBS = $(LIBS) 

GEM_ARCH_CXXFLAGS = 
GEM_ARCH_LDFLAGS = 

MAKEDEP_FLAGS = -M

STRIP_UNNEEDED ?= -x
STRIP ?= strip
DOS2UNIX = true

PDLIBDIR = /usr/local/lib/pd
PDREFPATH = extra/Gem

INSTALL = /usr/bin/install -c

GEM_CONFIGFILE = Base/configDarwin.h.in

CONFIGUREFLAGS ?= --with-pd=/Applications/Pd-0.42-5.app/Contents/Resources/
