<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defeatrt</key>
	<string>0</string>
	<key>flags</key>
	<string></string>
	<key>loadlib1</key>
	<string>libdir</string>
	<key>nloadlib</key>
	<string>1</string>
	<key>path1</key>
	<string>/path/to/rjdj/stuff</string>
	<key>npath</key>
	<string>1</string>
</dict>
</plist>
